/* header */
header{
    position: sticky;
    display: flex;
    height: 83px;
    overflow: hidden;
    align-items: center;
    padding:0 10px;
    top:0;
    background-color: #fff;
}

.header-title{
    font-size: 24px;
    margin-left: auto;
}

/*
    button
*/

.action-btn-group{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.action-btn-group [class^="btn-"]:first-child{
    margin-right: 10px;
}

.action-btn-group [class^="btn-"]{
    flex: 0 1 145px;
}

.btn-primary{
    display: inline-block;
    width: 100%;
    background-color: #BB2649;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding:14px 12px;
    border-radius: 12px;
    text-align: center;
}

.btn-secondary{
    display: inline-block;
    width: 100%;
    background: hsla(352, 83%, 64%, 1);

background: linear-gradient(45deg, hsla(352, 83%, 64%, 1) 0%, hsla(230, 90%, 68%, 1) 100%);

background: -moz-linear-gradient(45deg, hsla(352, 83%, 64%, 1) 0%, hsla(230, 90%, 68%, 1) 100%);

background: -webkit-linear-gradient(45deg, hsla(352, 83%, 64%, 1) 0%, hsla(230, 90%, 68%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EF566A", endColorstr="#627AF7", GradientType=1 );
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding:14px 12px;
    border-radius: 12px;
    text-align: center;
}

.btn-nutral-solid{
    display: inline-block;
    width: 100%;
    background-color: #d8d8d8;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding:14px 12px;
    border-radius: 12px;
    text-align: center;
}

.btn-nutral-line{
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    font-size: 20px;
    font-weight: 400;
    color: rgb(133, 133, 133);
    padding:14px 12px;
    border-radius: 12px;
    text-align: center;
}

.error{
    color: red;
    border: 2px solid red;
    animation: error-point 1s linear infinite both;
}

.disabled{
    pointer-events: none;
    background-color: #f3f3f3;

}

.link-btn{
    padding:10px;
}

.create-btn{
    position: sticky;
    top: 83px;
    padding: 10px;
    background-color: #fff;
    border-bottom:1px solid #E2E2E2;
}

/*
 comment
*/

.comment-content{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
}

.comment-content .comment-date{
    color: #757575;
    font-size: 12px;
    margin-right: 10px;
}

.comment-list-box{
    margin: 60px 0;
}

.comment-list-box .comment-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
    border-bottom: 1px solid #d8d8d8;
    padding:12px 0;
}

.comment-list-box .comment-item .btn-nutral-line{
    flex: 0 0 60px;
    height: 40px;
    padding: 8px;
    font-size: 14px;
}

.comment-input-box{
    position: fixed;
    display: flex;
    bottom:0;
    left:0;
    right: 0;
    padding: 15px;
    border-top:1px solid #E2E2E2;
    background-color: #fff;
}

.comment-input-box .btn-secondary{
    flex: 0 0 160px;
    margin-left: 10px;
}

/* home card list */

.card-item{
    border: 1px solid #E2E2E2;
    width: 100%;
    max-height: 120px;
    overflow: hidden;
    border-radius: 12px;
    margin: 24px 0;
}

.card-item a[data-link]{
    display: inline-block;
    width: inherit;
}

.card-item a[data-link] [class^='card-item-']{
    pointer-events: none;
}

.card-item .card-item-img{
    width: 180px;
    height: 120px;
    float:left;
}

.card-item .card-item-img .item-img{
    width: 100%;
   height: auto;
}

.card-item .card-item-info{
    float:left;
    padding: 28px 16px;
    max-width: calc(100% - 180px);
    width: 100%;
}

.card-item-info .card-item-title{
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    max-width: calc(100% - 10px);
    line-height: 1.5;
}

.card-item-info .card-item-desc{
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
}

/* edit / upload */

.container{
    padding: 20px 20px 70px;
}

.edit-img-box{
    border:1px solid #E2E2E2;
    border-radius: 12px;
    width: 100%;
    height: 300px;
}

.edit-img{
    width: 100%;
    object-fit: cover;
    height: inherit;
}

.input-box{
 margin: 20px 0;   
}

.input-box .post-title{
    margin-bottom: 16px;
}

.post-title{
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.post-contents{
    white-space: pre-wrap;
    word-break: break-word;
}

.input-primary{
    border: 1px solid #E2E2E2;
    border-radius: 12px;
    min-height: 28px;
    padding: 8px;
    width: 100%;
    max-width: calc(100% - 14px);
}

.input-primary.textarea{
    resize: none;
}

/*
    modal
*/

.modal-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 540px;
    width: calc(100% - 40px);
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 0px 6px 1px rgb(58 58 58 / 50%);
}

.modal-container .modal-content{
    padding:10px 0 30px;
}

.modal-container .modal-btn-group{
    text-align: right;
}

.modal-container .modal-btn-group [type='button']{
    max-width: 60px;
    font-size: 14px;
    padding:8px 0;
    margin-left: 10px;
}

.modal-dimmed{
    background: #0000004f;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.error-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.error-box .error-text{
    font-size: 60px;
    margin: 16px 0 30px;
}

.error-box .error-text strong{
    display: block;
    margin-bottom: 16px;
    font-weight: 700;
}

.error-box .btn-nutral-line{
    max-width: 640px;
    width: calc(100% - 40px);
}






@keyframes error-point {
    0%{ border: 1px solid red;}
    50%{ border: 1px solid #d8d8d8}
    100%{border: 1px solid red;}
}
